.banner{
    background-image: url(images/background.jpg);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    
    
        
}

.banner .header{
   /* display: inline-;
    justify-content: space-between;
    */
    display: flex;
    justify-content: space-between;
}
.banner .header nav ul {
    text-decoration: none;
    display: flex;
    list-style-type: none;
    gap: 10px;
}
.banner .header nav ul li {
   color: white;
}
.mid-section-part1{
    text-align: center;
}

 .mid-section-part2{
    display: flex;
    gap:10px;
    justify-content: center;
}